
	<div class="main-content">
		<!-- Navbar -->
		<nav class="navbar navbar-top navbar-expand-md navbar-dark"
			id="navbar-main">
			<div class="container-fluid">
				<!-- Brand -->
				<a></a>

				<!-- User -->
				<ul class="navbar-nav align-items-center d-none d-md-flex">
					<li class="nav-item dropdown"><a class="nav-link pr-0"
						href="#"  data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
                        <div class="media align-items-center">
							<span class="avatar avatar-sm rounded-circle"> <i class="fas fa-user"></i>
							</span>
							<div class="media-body ml-2 d-none d-lg-block">
								
								<div class="dropdown" style="float:right;">
									<span >
										{{prenom}} {{nom}} </span>&nbsp; &nbsp;

									<div class="dropdown-content" >
										<a class="dropdown-item"
															
										target="self" *ngFor="let cm of role" (click)="change(cm)" > {{cm}}</a>
										
									</div>
								</div>
							</div>
						</div>
					</a>
						
				</ul>
			</div>
		</nav>
		<!-- End Navbar -->
        <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
			style="min-height: 100px; background-image: url(../assets/img/theme/extstudent.jpg); background-size: cover; background-position: center top;">
			<!-- Mask -->
			<span class="mask bg-gradient-default opacity-6"></span>

			<!-- Header container -->
			<div class="container-fluid d-flex align-items-center">
				<div class="row">
					<div class="col-lg-12 col-md-10">
						<h3 class="display-2 text-white">Liste des étudiants</h3>
					</div>
				</div>
			</div>
		</div>
		<br> <br> <br>

		<div class="container-fluid mt--7">
            <div class="row">
				<div class="col">

					<div class="card shadow">
						<div class="card-header border-0">
                            <div class="col-lg-3">
                                <h3 class="mb-0">Feuille De notes</h3>
                            </div>
                          

<br><br>
<div class="pl-lg-4">
    <div class="row">
        <div class="col-lg-3">
            <label class="form-control-label">Session</label> 
            <select
                class="form-control form-control-alternative"
                name="sessionid" [(ngModel)]="id_session"  required>
                <option *ngFor="let cm of session" [value]="cm.idSession"
                [selected]="cm.idSession===sessionunivrchek.idSession" >{{cm.session}}</option>
            
            
                
            </select>
           
            
        </div>
        <div class="col-lg-3">

            <label class="form-control-label"
            for="input-address">Classe</label>
        <select  class="form-control form-control-alternative"
             [(ngModel)]="idNiveau"
            [ngModelOptions]="{standalone: true}" 
            id="Niveua">
            <option *ngFor="let item1 of class" [value]="item1.idNiveau">
                {{item1.Niveau}}</option>
            </select>
            
        </div>
        <div class="col-lg-6 center">


            &emsp;                         <section class="example-section1 ">
                <mat-checkbox class="example-margin1" [(ngModel)]="ds"  (change)="do1()" >ds</mat-checkbox><br>
                <mat-checkbox class="example-margin1"[(ngModel)]="Examen" (change)="do1()" >Examen</mat-checkbox><br>
                <mat-checkbox class="example-margin1" [(ngModel)]="Tp" (change)="do1()"  >Tp</mat-checkbox><br>
                <mat-checkbox class="example-margin1" [(ngModel)]="Orale"  (change)="do1()" >Orale</mat-checkbox><br>
                <mat-checkbox class="example-margin1" [(ngModel)]="Controle"  (change)="do2()" >Controle</mat-checkbox>

              </section>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-3">
            <button class="btn btn-form btn-success" (click)=show()
            type="submit">Affichier</button>
        </div>
    </div>
    
</div>


                            
                        </div>
                    </div>
                    
                   
                    </div>

				<!-- Dark table -->

				<!-- Footer -->
				<!-- Dark table -->

				<!-- Footer -->
				
			</div>
            
		</div>
		<!--   Core   -->

