
	<div class="main-content">
		<!-- Navbar -->
		
		<!-- End Navbar -->
		<!-- Header -->

		<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
			style="min-height: 100px; background-image: url(../assets/img/theme/extstudent.jpg); background-size: cover; background-position: center top;">
			<!-- Mask -->
			<span class="mask bg-gradient-default opacity-6"></span>

			<!-- Header container -->
			<div class="container-fluid d-flex align-items-center">
				<div class="row">
					<div class="col-lg-12 col-md-10">
						<h3 class="display-2 text-white">Liste des étudiants</h3>
					</div>
				</div>
			</div>
		</div>
		<br> <br> <br>

		<div class="container-fluid mt--7">
			<!-- Table -->

			<div class="row">
				<div class="col">

					<div class="card shadow">
						<div class="card-header border-0">

							<div class="row">

								<div class="col-lg-3">
									<h3 class="mb-0">Étudiants Inscrits</h3>
									<div class="form-group">
										<label class="form-control-label">Session</label> 
										<select
											class="form-control form-control-alternative"
											name="sessionid" [(ngModel)]="id_session" (change)="changessesion()" required>
											<option *ngFor="let cm of sessionunivr" [value]="cm.idSession"
											[selected]="cm.idSession===sessionunivrchek.idSession">{{cm.session}}</option>
										
										
											
										</select>
									</div>
								</div>
								<div class="col-lg-6">

								</div>
								<div class="col-lg-3">
									
									<br> <br> <br> <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
									placeholder=" Start searching for a hero by id or name or country" placeholder="Filtrer la liste"
										aria-label="Search" type="search">

								</div>
								<div class="col-lg-6"></div>
							</div>
							<div class="table-responsive" style="min-height: 300px;">
							
								<table class="table align-items-center table-flush"
									id="tableetudiant" >
									<thead class="thead-light">
										<tr>
											<th scope="col">Numero d'inscrit</th>
											<th scope="col">Identifiant</th>
											<th scope="col">Nom</th>
											<th scope="col">Classe</th>
											<th scope="col">Etat Financier</th>
											<th scope="col"></th>
										</tr>
									</thead>
									<tbody>
									
										<tr *ngFor="let cm of etu | filter:searchText">
											<td scope="row">
												<div class="media align-items-center">
													<div class="media-body">
														<span class="mb-0 text-sm-left">{{cm.idInscription.numeroInscription}}</span>
													</div>
												</div>
											</td>
											<td><span class="mb-0 text-md">{{cm.idInscription.idEtudiant.idPersonne.numeroIdentificateur}}</span></td>
											<td ><div class="media align-items-center" >
												<span class="mb-0 text-md" >
													{{cm.idInscription.idEtudiant.idPersonne.prenom}} {{cm.idInscription.idEtudiant.idPersonne.nom}}</span>
											</div>
												</td>
											<td >
												<div class="media align-items-center">
													<span class="mb-0 text-md">
														<div class="tooltip1" >{{(cm.idNiveau.parcours.specialite.cycle.description+"--"+cm.idNiveau.parcours.designation+"--"+cm.idNiveau.designation).substring(0,25)+"..." }}
															<span class="tooltiptext1 text-lg "  >{{cm.idNiveau.parcours.specialite.cycle.description}}--{{cm.idNiveau.parcours.designation}}--{{cm.idNiveau.designation}}</span>
														  </div>


									

													</span>
												</div>
											</td>
											<td>
											<span class="mb-0 text-md">{{cm.idInscription.idEtatInscription.nom}}</span> 
											</td>
											
											<td class="text-right">
												<div class="row">
													<div class="dropdown">
														<a aria-expanded="false" aria-haspopup="true"
															class="btn btn-sm btn-icon-only text-light"
															data-toggle="dropdown" href="#" role="button"> <i
															class="fas fa-ellipsis-v"></i>
														</a>
														<div
															class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
															<a class="dropdown-item"  (click)="pushEtu(cm)"	>Modifier étudiant</a>
															<a class="dropdown-item"
															
																target="self" (click)="downloadPdfinformation(cm)">Fiche de renseignement </a>
															
															<a class="dropdown-item"
																target="self" (click)="downloadPdfinscriptionSG(cm)">Attestation d'inscription (SG) </a>
																<a class="dropdown-item"
																target="self" (click)="downloadPdfinscriptionDG(cm)">Attestation d'inscription (DR) </a>
																<a class="dropdown-item"
																target="self" (click)="downloadPdfpresenceSG(cm)">Attestation de Présence (SG) </a> <a
																class="dropdown-item"
																target="self"
																(click)="downloadPdfpresenceDG(cm)">Attestation de Présence (DR) </a>
															
														</div>
													</div>

												</div>
											
											</td>
										</tr>
									
									</tbody>
								</table>
							</div>

						</div>
					</div>
				</div>
				<!-- Dark table -->

				<!-- Footer -->
				<!-- Dark table -->

				<!-- Footer -->
				
			</div>
		</div>
		<!--   Core   -->

