<body class="">
	<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
		<div class="container-fluid">
			<a class="navbar-brand" href="Etu"> <img src="../assets/img/brand/logo.png" class="navbar-brand-img"
					alt="...">
			</a>
			<div class="collapse navbar-collapse" id="sidenav-collapse-main">
				<ul class="navbar-nav">
					<li class="nav-item "><a class="nav-link " href="Etu"> <i class="ni ni-single-02 text-blue"></i>
							Gestion Etudiant
						</a></li>
					<li class="nav-item active"><a class="nav-link" href="Insc"> <i
								class="ni ni-circle-08 text-blue"></i>
							Inscription
						</a></li>


				</ul>


				<ul class="navbar-nav ">
					<li class="nav-item"><a class="nav-link " href="#" href="enregistrement">
							<i class="fas fa-graduation-cap text-blue"></i>Enregistrement
						</a></li>
				</ul>
				<ul class="navbar-nav ">
					<li class="nav-item "><a class="nav-link " href="fichier">
							<i class="ni ni-book-bookmark text-blue"></i>

							Fiche de presence
						</a></li>
				</ul>
				<hr class="my-3">
				<ul class="navbar-nav ">
					<li class="nav-item"><a class="nav-link " (click)="logout()" href="#">
							<i class="ni ni-user-run text-blue"></i> Se déconnecter
						</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="main-content">
		<!-- Navbar -->
		<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
			<div class="container-fluid">
				<!-- Brand -->
				<a></a>

				<!-- User -->
				<ul class="navbar-nav align-items-center d-none d-md-flex">
					<li class="nav-item dropdown"><a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							<div class="media align-items-center">
								<span class="avatar avatar-sm rounded-circle"> <i class="fas fa-user"></i>
								</span>
								<div class="media-body ml-2 d-none d-lg-block">

									<div class="dropdown" style="float:right;">
										<span>
											{{prenomuser}} {{nomuser}} </span>&nbsp; &nbsp;

										<div class="dropdown-content">
											<a class="dropdown-item" target="self" *ngFor="let cm of role"
												(click)="change(cm)"> {{cm}}</a>

										</div>
									</div>
								</div>
							</div>
						</a>				
					</li>
				</ul>
			</div>
		</nav>
		<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
			style="min-height: 100px; background-image: url(../assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
			<!-- Mask -->
			<span class="mask bg-gradient-default opacity-6"></span>
			<!-- Header container -->
			<div class="container-fluid d-flex align-items-center">
				<div class="row">
					<div class="col-lg-12 col-md-10">
						<h3 class="display-2 text-white">Créer un Compte</h3>
					</div>
				</div>
			</div>
		</div>
		<br> <br> <br>

		<!-- Page content -->
		<div class="container-fluid mt--7">
			<div class="row">

				<div class="col-xl-12 order-xl-3">
					<div class="card bg-secondary shadow">
						<div class="card-header bg-white border-0">
							<div class="row align-items-center">
								<div class="col-8">
									<h3 class="mb-0">Nouveau compte</h3>
								</div>
								<div class="col-4 text-right">
									<!--<a href="#!" class="btn btn-sm btn-primary">Settings</a>-->
								</div>
							</div>
						</div>
						<div class="card-body">

						
									<form [formGroup]="firstFormGroup" name="form" (ngSubmit)="f.form.valid "
										#f="ngForm" novalidate>
										<ng-template matStepLabel>Donneé Personelle</ng-template>
										<h6 class="heading-small text-muted mb-4">Données
											Personelle</h6>
										<div class="pl-lg-4">
											<div class="row">

												<div class="col-lg-6">
													<div class="form-group">
														<label class="form-control-label">Identificateur</label> <select
															class="form-control form-control-alternative" name="id"
															[(ngModel)]="form.idTypeIdentificateur"
															[disabled]="test!=test1"
															[ngModelOptions]="{standalone: true}" required>

															<option *ngFor="let item of identificateur"
																[value]="item.idTypeidentificateur">
																{{item.typeIdentificateur}}</option>

														</select>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-group">
														<label class="form-control-label">Num Identificateur</label>
														<ng-template #content>

															<div class="modal-body">
																<div class="alert alert-warning" role="alert">
																	Etudiant est deja inscrit
																</div>
															</div>

														</ng-template>
														<ng-template #content23>

															<div class="modal-body">
																<div class="alert alert-danger" role="alert">
																	Etudiant maynajemsh yamel linscri </div>
															</div>

														</ng-template>
														<input type="text" [(ngModel)]="form.ididentif"
															[disabled]="test!=test1"
															[disabled]="form.idTypeIdentificateur===null1" required
															minlength="6" #password="ngModel"
															(change)="getetu(content,content23)"
															[ngModelOptions]="{standalone: true}"
															class="form-control form-control-alternative"
															placeholder="Num Identificateur" name="numid" required>
													</div>
													<div class="alert alert-danger" role="alert" *ngIf="ControleNumID">
														Num Identificateur il doit depasse 8 numero
													</div>

												</div>
											</div>
											<div class="row">
												<div class="col-lg-6">
													<div class="form-group">
														<label class="form-control-label">Nom</label> <input type="text"
															id="input-username" [disabled]="test!=test1"
															class="form-control form-control-alternative"
															placeholder="Nom" name="nom" [(ngModel)]="form.nom"
															[ngModelOptions]="{standalone: true}" required>
													</div>

												</div>
												<div class="col-lg-6">
													<div class="form-group">
														<label class="form-control-label">Prénom</label> <input
															type="text" id="input-email" [disabled]="test!=test1"
															class="form-control form-control-alternative"
															placeholder="Prénom" name="prenom" [(ngModel)]="form.prenom"
															[ngModelOptions]="{standalone: true}" required>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-6">
													<div class="form-group">
														<label class="form-control-label">Email</label> <input
															type="mail" class="form-control form-control-alternative"
															placeholder="Email" name="mail" [(ngModel)]="form.mail"
															[ngModelOptions]="{standalone: true}" required>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-group">
														<label class="form-control-label">Adresse</label> <input
															type="text" class="form-control form-control-alternative"
															[(ngModel)]="form.adresse"
															[ngModelOptions]="{standalone: true}" placeholder="Adresse"
															name="adress" required>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-6">
													<div class="form-group">
														<label class="form-control-label">Téléphone</label> <input
															type="text" class="form-control form-control-alternative"
															[(ngModel)]="form.telephonne"
															[ngModelOptions]="{standalone: true}"
															placeholder="Téléphone" name="tele" required>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-group">


														<label class="form-control-label">Date de naissance</label>
														<input type="date" class="form-control form-control-alternative"
															max="" [(ngModel)]="form.dateNaissance"
															[disabled]="test!=test1"
															[ngModelOptions]="{standalone: true}"
															placeholder="Date de naissance" name="dn" required>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-6">
													<div class="form-group">
														<label class="form-control-label">Lieu de naissance</label>
														<input type="text" [(ngModel)]="form.lieuNaissance"
															[ngModelOptions]="{standalone: true}"
															[disabled]="test!=test1"
															class="form-control form-control-alternative"
															placeholder="Lieu de naissance" name="ln" required>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-group">
														<label class="form-control-label">Sexe</label> <select
															class="form-control form-control-alternative" name="sexe"
															[(ngModel)]="form.sexe" [disabled]="test!=test1"
															[ngModelOptions]="{standalone: true}" required>
															<option value="Homme">Homme</option>
															<option value="Femme">Femme</option>
														</select>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-lg-6">
													<div class="form-group">
														<label class="form-control-label">Nationalité</label> <select
															class="form-control form-control-alternative"
															name="nationalite" [(ngModel)]="form.nationalite"
															[ngModelOptions]="{standalone: true}"
															[disabled]="test!=test1" required>

															<option *ngFor="let cm of nationalite"
																[value]="cm.id_Nationalite">{{cm.libelle}}</option>

														</select>
													</div>
												</div>
												<div class="col-lg-6"><div class="form-group">
                                                    <label class="form-control-label">Role</label> <select
                                                        class="form-control form-control-alternative"
                                                        name="nationalite" [(ngModel)]="form.nationalite"
                                                        [ngModelOptions]="{standalone: true}"
                                                        [disabled]="test!=test1" required>

                                                        <option *ngFor="let cm of nationalite"
                                                            [value]="cm.id_Nationalite">{{cm.libelle}}</option>

                                                    </select>
                                                </div></div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-5"></div>
											<div class="col-lg-3">
												<br><br>




												<button  class="btn btn-primary">Créer</button>

											</div>
										</div>
									</form>
								
						</div>
					</div>
				</div>
			</div>
			<!-- Footer -->
			<footer class="footer">
				<div class="row align-items-center justify-content-xl-between">
					<div class="col-xl-6">
						<div class="copyright text-center text-xl-left text-muted">
							© 2019 <a class="font-weight-bold ml-1" href="http://www.essat-gabes.com/"
								target="_blank">ESSAT
								GABES</a>
						</div>
					</div>

				</div>
			</footer>
		</div>
	</div>
	<!--   Core   -->


</body>
