
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
        style="min-height: 100px; background-image: url(https://images.pexels.com/photos/267885/pexels-photo-267885.jpeg?cs=srgb&dl=pexels-pixabay-267885.jpg&fm=jpg); background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-6"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
            <div class="row">
                <div class="col-lg-12 col-md-10">
                    <h3 class="display-2 text-white">Enregistrement</h3>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>


    <div class="container-fluid mt--7">
        <div class="row">

            <div class="col-xl-12 order-xl-3">
                <div class="card bg-secondary shadow">
                    <div class="card-header bg-white border-0">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">Etudiant</h3>
                            </div>
                            <div class="col-4 text-right">
                                <!--<a href="#!" class="btn btn-sm btn-primary">Settings</a>-->
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form >
                            <h6 class="heading-small text-muted mb-4">Données
                                Personelles</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="form-control-label">Num Inscription</label> <input
                                                class="form-control form-control-alternative" 
                                                placeholder="Num Inscription" required type="text" [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="numeroInscription"

                                               >
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="form-control-label">Num Identifient</label> <input
                                                class="form-control form-control-alternative" 
                                                [(ngModel)]="Cin" [ngModelOptions]="{standalone: true}"
                                                placeholder="Num Identifient" required type="text"
                                                >
                                        </div>
                                    </div>
                                    <ng-template #content >
															
                                        <div class="modal-body">
                                            <div  role="alert">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label">Nom : </label>
                                                            {{form.nom}}
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label">Prénom : </label>
                                                            {{form.prenom}} 
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label">Email : </label> 
                                                            {{form.mail}}
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label">Adresse : </label>
                                                            {{form.adresse}} 
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label">Téléphone : </label>
                                                            {{form.telephonne}}
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label">Date de naissance : </label>
                                                            {{form.dateNaissance}}
                                                        
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label">Lieu de naissance : </label>
                                                            {{form.lieuNaissance}}
                                                        </div>
                                                        
                                                    </div>
                                                  
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label">Num Identificateur</label>
                                                            {{Cin}}
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label">Sexe : </label>
                                                            {{form.sexe}} 
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                             
                                              </div>
                                        </div>
                                        
                                      </ng-template>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                                <br> <br> <input id="countdiplome"
                                                    name="countdiplome" type="hidden" value="1">
                                                <button (click)="getetudient(content)" class="btn btn-form btn-success" type="submit">Verifier</button>
                                        </div>
                                    </div>
                                 
                                 
                                    
                                </div>
                               
                            </div>
                            <hr class="my-4" />
                            <!-- New Diplome -->
                            <h6 class="heading-small text-muted mb-4">Nouveau Diplome</h6>
                            <div class="pl-lg-4">
                                <div class="col-sm">
                                    <div  class="form-group">
                                        <label class="form-control-label"
                                            for="input-address">Diplome</label>
                                        <select  class="form-control form-control-alternative"
                                             [(ngModel)]="idNiveau"
                                            [ngModelOptions]="{standalone: true}" 
                                            id="Niveua">
                                            <option *ngFor="let item1 of niveaupossible" [value]="item1.idNiveau">
                                                {{item1.designation}}</option>
                                        </select>
                                    </div>											</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5"></div>
                                <div class="col-lg-3">
                                    <br> <br> <input id="countdiplome"
                                        name="countdiplome" type="hidden" value="1">
                                        <ng-template #content10 >
															
                                            <div class="modal-body">
                                                <div class="alert alert-warning" role="alert">
                                                    Enregistrement avec succee
                                                  </div>
                                            </div>
                                            
                                          </ng-template>
                                          <ng-template #content11 >
															
                                            <div class="modal-body">
                                                <div class="alert alert-danger" role="alert">
                                                    {{message}}
                                                  </div>
                                            </div>
                                            
                                          </ng-template>
                                    <button class="btn btn-form btn-success" (click)="enregistrement(content10,content11)" type="submit">Enregistrer</button>
                                </div>
                                <div class="col-lg-4"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer">
            <div class="row align-items-center justify-content-xl-between">
                <div class="col-xl-6">
                    <div class="copyright text-center text-xl-left text-muted">
                        © 2019 <a class="font-weight-bold ml-1"
                            href="http://www.essat-gabes.com/" target="_blank">ESSAT
                            GABES</a>
                    </div>
                </div>

            </div>
        </footer>
    </div>


