

	<div class="main-content">
		<!-- Navbar -->
		
		<!-- End Navbar -->
		<!-- Header -->

		<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
			style="min-height: 100px; background-image: url(../assets/img/theme/extstudent.jpg); background-size: cover; background-position: center top;">
			<!-- Mask -->
			<span class="mask bg-gradient-default opacity-6"></span>

			<!-- Header container -->
			<div class="container-fluid d-flex align-items-center">
				<div class="row">
					<div class="col-lg-12 col-md-10">
						<h3 class="display-2 text-white">Liste des Matiéres</h3>
						<h6 class="display-4 text-green">Classe</h6>
            <h6 class="display-4 text-white"> {{classe.Cycle}}  {{classe.Specialite}} {{classe.Parcours}} {{classe.Niveau}} </h6>
					</div>
				</div>
			</div>
		</div>
		<br> <br> <br>

		<div class="container-fluid mt--7">
			<!-- Table -->

			<div class="row">
				<div class="col">

					<div class="card shadow">
						<div class="card-header border-0">

							<div class="row">

								<div class="col-lg-3">
									<h3 class="mb-0">Matiéres</h3>
								</div>
								<div class="col-lg-6">

								</div>
								<div class="col-lg-3">
									
									<br> <br> <br> 
									<input class="form-control" type="text" name="search"  autocomplete="off"
									placeholder=" Start searching for a hero by id or name or country" placeholder="Filtrer la liste"
										aria-label="Search" type="search">
                                         <br> <br>
								</div>
								
								<div class="col-lg-6">
                                   
                                </div>
                                <div class="col-lg-3"></div>
                                <div class="col-lg-3"> <a href="dashbord/ajoutMatiere">Ajouter une matiére</a></div>
							</div>
							<br>  
							<div class="  table-responsive" style="min-height: 300px;padding-left: 50px;padding-right: 50px;">
							
                                
								
								<table style="text-align: center;" class="table align-items-center table-flush"
									id="tableetudiant" >
									<thead class="thead-light">
										<tr>
											<th scope="col">Matiére</th>
											<th scope="col">Description</th>
											<th scope="col">Coéfficient</th>
											<th scope="col">Enseignant</th>
											<th scope="col">Notes</th>
											<th>Action</th>
											
										</tr>
									</thead>
									<tbody  >
									
										<tr *ngFor="let m of matieres | filter:searchText" >
											<td scope="row" >
												
													
														<h3 class="mb-0 text-md  "> {{m.nomMatiere}} </h3>
													
												
											</td>
											<td scope="row"><p class="mb-0 text-md">{{m.description}}</p></td>
											<td scope="row"><div >
												<span class="mb-0 text-md" >
													{{m.coefficient}}
												</span>
											</div>
												</td>
												<td scope="row"><div >
                          <p class="mb-0 text-md" >
                            {{m.enseignants[0].personne.prenom}} {{"  "}} {{m.enseignants[0].personne.nom}}
                          </p>
                        </div>
                          </td>
						  <td> <a (click)="pushNoteMatiere(m)">Liste des notes</a> </td>
											<td scope="row" style="display: flex;justify-content: space-around;">
												<a (click)="supprimerMatiere(m.idMatiere,m.nomMatiere)">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
												<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
											  </svg></a>
											 <a (click)="openModallg(content8);pushModifierMatiere(m)">
											  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
												<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
												<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
											  </svg>
											</a> 
											</td>
										</tr>
									
									</tbody>
									
								</table>
							</div>
							<ng-template #content8 let-modal id="modal">
								<div class="modal-body">

								
									<form
									name="form"
									(ngSubmit)="saveMatiere(content7,content8)" #f="ngForm"
									novalidate
								  >
									<br />
									<br />
									<br />
									<div class="pl-lg-">
									  <div class="row" style="display: flex; justify-content: center">
										<div class="col-lg-4">
										  <div
											*ngIf="SuccessMessage"
											class="alert alert-success alert-dismissible fade show"
											role="alert"
										  >
											<strong>Matiere</strong> modifiée avec succée.
											<button
											  type="button"
											  class="close"
											  data-dismiss="alert"
											  aria-label="Close"
											>
											  <span aria-hidden="true">&times;</span>
											</button>
										  </div>
										</div>
									  </div>
									  <div class="row" style="display: flex; justify-content: center">
										<div class="col-lg-4">
										  <div class="form-group">
											<label class="form-control-label">Nom de mariére</label>
						
											<input
											  type="text"
											
											  minlength="6"
											
											  class="form-control form-control-alternative"
											  placeholder="Nom de Matiére"
											  name="nomMatiere"
											  [(ngModel)]="form.nomMatiere"  #nomMatiere="ngModel"
											  required
											/>
										  </div>
										</div>
										<div class="col-lg-4">
										  <div class="form-group">
											<label class="form-control-label">Description</label>
											<input
											  type="text"
											  required
											  minlength="6"
											  
											  class="form-control form-control-alternative"
											  placeholder="Description"
											  name="description"
											  [(ngModel)]="form.description"  #description="ngModel"
											  required
											/>
										  </div>
										</div>
									  </div>
									  <div class="row" style="display: flex; justify-content: center">
										<div class="col-lg-4">
										  <div class="form-group">
											<label class="form-control-label">Enseignant</label>
											<select
											  class="form-control form-control-alternative"
											  name="enseignant"
											  
											  [(ngModel)]="form.enseignants" 
											   required 
											>
											  <option *ngFor="let e of enseignants" [ngValue]="e.id">
												{{ e.id }} {{ "--" }} {{ e.prenom }} {{ " " }}
												{{ e.nom }}
											  </option>
											</select>
										  </div>
										</div>
										<div class="col-lg-4">
											<div class="form-group">
												<label class="form-control-label">Coefficient</label>
												<input
												  type="number"
												 
												  class="form-control form-control-alternative"
												  placeholder="Coefficient"
												  name="coefficient"
												   
												  [(ngModel)]="form.coefficient" 
										 
												/>
											  </div>
										</div>
									  </div>
										<ng-template #content7  style="min-height: 300px;width: 500px;" let-modal>
												<div class="modal-body">
			
													<div class="alert alert-success" role="alert">
														Matiére modifier avec succée
													  </div>
													</div>
			
											</ng-template>
									  <div class="row" style="display: flex; justify-content: center">
										<button class="btn btn-danger" type="submit">Modifier</button>
									  </div>
									</div>
								  </form>

									
										
										
									</div>

							</ng-template>
						</div>
					</div>
				</div>
				<!-- Dark table -->

				<!-- Footer -->
				<!-- Dark table -->

				<!-- Footer -->
				
			</div>
		</div>
		<!--   Core   -->

